@model IEnumerable<MotorcycleRent.Models.Booking>
@using MotorcycleRent.Data
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Index";
    List<Motorcycle> motorcycle = _context.Motorcycle.ToList();
}

<h1>Booking</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMotorcycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motorcycle.Price)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @motorcycle.Where(x => x.Id == item.IdMotorcycle).FirstOrDefault().Brand
                    @motorcycle.Where(x => x.Id == item.IdMotorcycle).FirstOrDefault().Model
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingEnd)
                </td>
                <td>
                    @if ((item.Delivery) != Convert.ToDateTime("01/01/0001 0:00:00"))
                    {
                        @Html.DisplayFor(modelItem => item.Delivery)
                    }
                    else
                    {
                        <p class="alert-danger">Not delivered</p>
                    }
                </td>
                <td>
                    @if ((item.Delivery) == Convert.ToDateTime("01/01/0001 0:00:00"))
                    {
                        <p>
                            @(motorcycle.Where(x => x.Id == item.IdMotorcycle).FirstOrDefault().Price*Convert.ToInt32((DateTime.Now.Date - item.BookingStart.Date).TotalDays+1))€
                        </p>
                    }
                    else
                    {
                        <p>
                            @(motorcycle.Where(x => x.Id == item.IdMotorcycle).FirstOrDefault().Price*Convert.ToInt32((item.Delivery.Date - item.BookingStart.Date).TotalDays+1))€
                        </p>
                    }
                </td>
                @if ((item.Delivery) == Convert.ToDateTime("01/01/0001 0:00:00"))
                {
                    <td>
                        <a class="btn btn-primary btn-md mr-1 mb-2" asp-action="Pay" asp-route-id="@item.Id">Pay</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
